/* $hover_principal: violet;
$borde_principal: 1px solid violet;
$sombra_principal: 0 0 20px 0 violet; */
body {
  color: #efefef;
  background-color: #000; }

h1 span {
  color: violet; }

section img {
  box-shadow: 0 0 20px 0 violet; }

nav {
  border-bottom: 1px solid violet; }

.navbar-dark .navbar-nav .nav-link {
  color: #efefef;
  transition: all .7s; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: violet; }

a {
  color: #efefef;
  transition: all .7s; }
  a:hover {
    color: violet; }

footer {
  border-top: 1px solid violet; }

.card, .card-img-top {
  box-shadow: 0 0 20px 0 violet; }

img:hover {
  opacity: .8;
  transition: 1s; }

.card-body:hover {
  background-color: violet;
  opacity: .9;
  transition: all 1s; }

.btn-primary, .btn-primary:hover {
  color: #efefef;
  background-color: #6441a5;
  border-color: #6441a5; }
  .btn-primary:hover {
    opacity: .7;
    transition: all .7s; }

input, textarea, label {
  color: #efefef;
  margin-top: 1em; }

form {
  border: 2px solid black;
  box-shadow: 0 0 20px 0 violet;
  border-radius: 10px; }

.form-control, .form-control:active, .form-control:focus {
  color: #efefef;
  background-color: transparent;
  border-bottom: 1px solid violet; }

.enviar {
  background-color: violet;
  transition: all .7s; }

body {
  font-family: "Orbitron", sans-serif; }

p {
  line-height: 1.8;
  margin-bottom: 0; }

.contacto__titulo,
.reviews__titulo,
.trabajo__titulo {
  font-size: 3rem; }

.contacto__subtitulo,
.reviews__subtitulo,
.trabajo__subtitulo {
  font-size: 1.8rem; }

footer {
  font-family: "PT Mono", monospace;
  height: 6rem; }

/* MOBILE PHONE SIZE*/
@media screen and (max-width: 700px) {
  .section__titulo {
    margin-right: auto;
    margin-left: auto; }
  .section__titulo,
  .nosotros__titulo,
  .contacto__titulo,
  .reviews__titulo,
  .trabajo__titulo {
    font-size: 1.8em; }
  .section__subtitulo,
  .nosotros__descripcion,
  .contacto__subtitulo,
  .trabajo__subtitulo {
    font-size: .9em; }
  /* Reviews */
  .reviews__subtitulo {
    font-size: .9rem; } }

/* TABLET/MEDIUM SIZE  */
@media screen and (min-width: 700px) and (max-width: 1300px) {
  /* Font Sizes */
  .section__titulo,
  .nosotros__titulo,
  .contacto__titulo,
  .reviews__titulo {
    font-size: 3.5em; }
  .section__subtitulo,
  .nosotros__descripcion,
  .contacto__subtitulo,
  .trabajo__subtitulo,
  .reviews__subtitulo {
    font-size: 1em; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  footer div {
    flex-direction: column; }
  section h3 {
    font-size: 1.2rem; }
  p {
    text-align: justify;
    font-size: .7rem; }
  .card-img-top {
    height: 15rem; }
  .card-text {
    text-align: left; }
  .form-control, .form-control:active, .form-control:focus {
    width: 100%; }
    .form-control::placeholder, .form-control:active::placeholder, .form-control:focus::placeholder {
      font-size: .7rem; }
  .carousel-item img {
    height: 300px; } }

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .carousel, .carousel-inner {
    box-shadow: 0 0 20px 0 violet;
    border-radius: 10px; } }

@media screen and (min-width: 992px) {
  .form-control, .form-control:active, .form-control:focus {
    width: 70%; } }

@media screen and (min-width: 768px) {
  .card-img-top {
    height: 20rem; }
  .carousel-item img {
    height: 400px; } }

@media screen and (min-width: 1200px) {
  .card-img-top {
    height: 25rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1; }

footer {
  margin-top: auto; }

section img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 1s; }

.trabajos__img {
  transition: all 1s; }
  .trabajos__img:hover {
    transform: translateY(-1rem); }

.logo {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  box-shadow: none; }

.card, .card-img-top {
  border-radius: 10px; }

.card-img-top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

.form-label {
  margin-bottom: 0; }

.form-control, .form-control:active, .form-control:focus {
  margin-left: auto;
  margin-right: auto;
  border: transparent;
  border-bottom: 1px solid violet; }

.btn-follow {
  margin-top: auto; }
