<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RinconGamer | Contáctanos</title>
    <meta name="description" content="Espacio para compartir tu opinión sobre la empresa, o para adquirir nuestros servicios y construir tu setup gamer.">
    <meta name="keywords" content="setups, gamer, contacto, mensaje, opinion, asunto">
    <meta name="author" content="Julian Riedinger">
    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ttbblHVjiiDPojqapKRQ488sZO1I/ceo1w2AXALA/iYVz389m+F2EXu2Go8VClG4" crossorigin="anonymous">

    <!-- Archivo CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Icono de la pagina -->
    <link rel="shortcut icon" href="../Imagenes-Iconos/logoempresa.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=PT+Mono&family=Playfair+Display&display=swap" rel="stylesheet">

    <!-- Animate.CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
    <!-- Menu de Navegacion: -->
    <header>
        <nav class="navbar navbar-expand-lg bg-black navbar-dark">
            <div class="container">
                <a href="../index.html" class="navbar-brand">
                    <img src="../Imagenes-Iconos/logoempresa.png" alt="logo" class="img-fluid" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="../index.html" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="./nosotros.html" class="nav-link">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a href="./trabajo.html" class="nav-link">Nuestro Trabajo</a>
                        </li>
                        <li class="nav-item">
                            <a href="./reviews.html" class="nav-link">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <!-- Pagina Contacto -->
        <main>
            <section class="container-fluid text-center text-white p-5">
                <video src="../Imagenes-Iconos/videofondo1.mp4" autoplay muted loop></video>
                <h1 class="contacto__titulo">Dejanos tu mensaje</h1>
                <h2 class="contacto__subtitulo mb-5"> Completa el siguiente formulario y aguarda nuestra respuesta</h2>
                <div class="container">
                    <form class="mb-5 p-5 animate__animated animate__bounceInUp">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputName">Nombre Completo</label>
                                <input type="text" class="form-control" id="inputName" required placeholder="Juan Perez">
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" required placeholder="juanperez@gmail.com">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputCelular">Celular:</label>
                                <input type="tel" class="form-control" name="fcelular" id="inputCelular" required placeholder="(111) 111 111 111">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAsunto">Asunto</label>
                                <input type="text" class="form-control" id="inputAsunto" placeholder="Armado de Setup">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="floatingTextarea">Mensaje</label>
                                <textarea class="form-control h-100" placeholder="Deja tu mensaje aquí" id="floatingTextarea"></textarea>
            
                            </div>
                        </div>
                        <div class="row pt-5 mt-5">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-lg btn-primary px-sm-5 enviar">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </main>

        <!-- Pie de pagina -->
        <footer class="bg-black text-white text-center d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">
                <p>Copyright &copy; 2022 Julian Riedinger</p>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-1">
                        <a href="https://api.whatsapp.com/send?phone=+5402914190015" target="ADD_BLANK">
                            <img src="../Imagenes-Iconos/wpicon.jpg" alt="Whatsapp" width="50" height="50">
                        </a>
                    </li>
                    <li class="ms-1">
                        <a href="https://www.instagram.com/julianriedinger/" target="ADD_BLANK">
                            <img src="../Imagenes-Iconos/igicon.jpg" alt="Instagram" width="50" height="50">
                        </a>
                    </li>
                    <li class="ms-1">
                        <a href="https://www.facebook.com/julian.riedinger.1/"  target="ADD_BLANK">
                            <img src="../Imagenes-Iconos/fbicon.jpg" alt="Facebook" width="50" height="50">
                        </a>
                    </li>
                    <li class="ms-1">
                        <a href="https://twitter.com/JuliRiedinger" target="ADD_BLANK">
                            <img src="../Imagenes-Iconos/twicon.jpg" alt="Twitter" width="50" height="50">
                        </a>
                    </li>
                    
                    
                </ul>
            </div>
        </footer>
        <script src="../js/bootstrap.bundle.min.js" integrity="sha384-ld2L/kcTVZx61WGwQz7vrkwU7uStBvzRExaQwwPPqM6yLGYgrGuUcKX/O87p9qy9" crossorigin="anonymous"></script></body>
    
</body>
</html>