<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RinconGamer | Sobre Nosotros</title>
    <meta name="description" content="Quiénes sómos y como actuamos a la hora de comunicarnos con nuestros clientes.">
    <meta name="keywords" content="setups, gaming, clientes, presupuesto, luces led, teclados, mouse, pads, escritorio">
    <meta name="author" content="Julian Riedinger">
    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Archivo CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Icono de la pagina -->
    <link rel="shortcut icon" href="../Imagenes-Iconos/logoempresa1.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=PT+Mono&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Menu de Navegacion: -->
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg bg-black bg-gradient navbar-dark">
            <div class="container">
                <a href="../index.html" class="navbar-brand">
                    <img src="../Imagenes-Iconos/logoempresa1.png" alt="logo" class="img-fluid" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="../index.html" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a href="./trabajo.html" class="nav-link">Nuestro Trabajo</a>
                        </li>
                        <li class="nav-item">
                            <a href="./reviews.html" class="nav-link">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a href="./contacto.html" class="nav-link">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Pagina Sobre Nosotros -->

    <main>
        <section class="container-fluid text-white p-5 mb-5">
            <video src="../Imagenes-Iconos/videofondo.mp4" autoplay muted loop></video>
            <div class="container">
                <div class="row gx-5 pb-5 d-none d-lg-flex">
                    <div class="col-lg-6  text-lg-start pt-2">
                        <h1>Sobre Nosotros</h1>
                        <p class="mt-3 mb-3">Somos una empresa dedicada a armar Setups para personas apasionadas al Gaming.
                        Nos comunicamos con nuestros clientes para preguntarles sus marcas predilectas, su estilo,
                        los colores que más les gustan y el presupuesto de gasto que poseen para armar su rincon especial.
                        </p>
                    </div>
                    <div class="col-lg-6 ">
                        <div>
                            <img class="img-fluid" src="../Imagenes-Iconos/nosotros2.jpg" alt="Oficina gamer">
                        </div>
                    </div>
                </div>

                <div class="row gx-5 d-lg-none">
                    <div class="col-lg-6 ">
                        <div>
                            <img class="img-fluid" src="../Imagenes-Iconos/nosotros2.jpg" alt="Oficina gamer">
                        </div>
                    </div>

                    <div class="col-lg-6  text-lg-start pt-2">
                        <h1>Sobre Nosotros</h1>
                        <p class="mt-3 mb-3">Somos una empresa dedicada a armar Setups para personas apasionadas al Gaming.
                        Nos comunicamos con nuestros clientes para preguntarles sus marcas predilectas, su estilo,
                        los colores que más les gustan y el presupuesto de gasto que poseen para armar su rincon especial.
                        </p>
                    </div>
                    
                </div>

                <div class="row gx-5 mt-5">
                    <div class="col-lg-6 ">
                        <div>
                            <img class= "img-fluid" src="../Imagenes-Iconos/nosotros1.jpg" alt="Oficina gamer">
                        </div>
                    </div>
                    <div class="col-lg-6  text-lg-start pt-2">
                        <p class="mt-3 mb-3">Luces led, teclados personalizados, mouse y pads a medida para tu escritorio, son algunas de las opciones para personalizar de manera única tu lugar de juego. Si te interesa pasar tus horas frente a la computadora de manera cómoda y con un ambiente diseñado específicamente para vos, contá con nosotros.
                        </p>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-lg-12 text-center mt-5">
                        <h3>Observa nuestros trabajos preferidos!</h3>
                        <a class="btn btn-lg btn-primary enviar" href="./trabajo.html">Nuestro Trabajo</a>
                    </div>
                </div>
            </div>
            
                
        </section>
    </main>
    

    <!-- Pie de pagina -->
    <footer class="bg-black bg-gradient text-white text-center d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <p>Copyright &copy; 2022 Julian Riedinger</p>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-1">
                    <a href="https://api.whatsapp.com/send?phone=+5402914190015" target="ADD_BLANK">
                        <img src="../Imagenes-Iconos/wpicon.png" alt="Whatsapp" width="50" height="50">
                    </a>
                </li>
                <li class="ms-1">
                    <a href="https://www.instagram.com/julianriedinger/" target="ADD_BLANK">
                        <img src="../Imagenes-Iconos/igicon.png" alt="Instagram" width="50" height="50">
                    </a>
                </li>
                <li class="ms-1">
                    <a href="https://www.facebook.com/julian.riedinger.1/"  target="ADD_BLANK">
                        <img src="../Imagenes-Iconos/fbicon.png" alt="Facebook" width="50" height="50">
                    </a>
                </li>
                <li class="ms-1">
                    <a href="https://twitter.com/JuliRiedinger" target="ADD_BLANK">
                        <img src="../Imagenes-Iconos/twicon.png" alt="Twitter" width="50" height="50">
                    </a>
                </li>
                
                
            </ul>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="../js/bootstrap.bundle.min.js" crossorigin="anonymous"></script></body>
</html>