<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RinconGamer | Reviews de clientes</title>
    <meta name="description" content="Compartimos las opiniones de streamers que confiaron en los servicios de la empresa.">
    <meta name="keywords" content="setups, clientes, streamers, gaming">
    <meta name="author" content="Julian Riedinger">
    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Archivo CSS -->
    <link rel="stylesheet" href="../css/style.css">
    
    <!-- Icono de la pagina -->
    <link rel="shortcut icon" href="../Imagenes-Iconos/logoempresa.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=PT+Mono&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Menu de Navegacion: -->
    <header>
        <nav class="navbar navbar-expand-lg bg-black navbar-dark">
            <div class="container">
                <a href="../index.html" class="navbar-brand">
                    <img src="../Imagenes-Iconos/logoempresa.png" alt="logo" class="img-fluid" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="../index.html" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="./nosotros.html" class="nav-link">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a href="./trabajo.html" class="nav-link">Nuestro Trabajo</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a href="./contacto.html" class="nav-link">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Pagina Reviews -->
    <main>
        <section class="container-fluid text-center text-white p-5">
            <video src="../Imagenes-Iconos/videofondo1.mp4" autoplay muted loop></video>
            <h1 class="reviews__titulo">Reviews</h1>
            <h2 class="reviews__subtitulo">Esto es lo que nuestros clientes opinan sobre nosotros</h2>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 g-md-5">
                        <div class="card bg-black mb-5">
                            <img src="../Imagenes-Iconos/reviews1.jpg" class="card-img-top img-fluid" alt="Goncho">
                            <div class="card-body">
                                <h5 class="card-title">Goncho Banzas</h5>
                                <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quo ducimus commodi necessitatibus amet est impedit repudiandae vero? Rem, vel!</p>
                                <a href="https://www.twitch.tv/goncho" class="btn btn-primary" target="BLANK">Seguir! <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                                    <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                                    <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
                                </svg></a>
        
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 g-md-5">
                        <div class="card bg-black mb-5">
                            <img src="../Imagenes-Iconos/reviews2.jpg" class="card-img-top img-fluid" alt="Spreen">
                            <div class="card-body">
                                <h5 class="card-title">Spreen</h5>
                                <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quo ducimus commodi necessitatibus amet est impedit repudiandae vero? Rem, vel!</p>
                                <a href="https://www.twitch.tv/elspreen" class="btn btn-primary" target="BLANK">Seguir! <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                                    <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                                    <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
                                </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 g-md-5">
                        <div class="card bg-black mb-5">
                            <img src="../Imagenes-Iconos/reviews3.jpg" class="card-img-top img-fluid" alt="Carrera">
                            <div class="card-body">
                                <h5 class="card-title">Carrera</h5>
                                <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quo ducimus commodi necessitatibus amet est impedit repudiandae vero? Rem, vel!</p>
                                <a href="https://www.twitch.tv/carreraaa" class="btn btn-primary" target="BLANK">Seguir! <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                                    <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                                    <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
                                </svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 g-md-5">
                        <div class="card bg-black mb-5">
                            <img src="../Imagenes-Iconos/reviews4.jpg" class="card-img-top img-fluid" alt="Kun agüero">
                            <div class="card-body">
                                <h5 class="card-title">Kun Agüero</h5>
                                <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quo ducimus commodi necessitatibus amet est impedit repudiandae vero? Rem, vel!</p>
                                <a href="https://www.twitch.tv/slakun10" class="btn btn-primary" target="BLANK">Seguir! <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                                    <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                                    <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
                                </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Pie de pagina -->
    <footer class="bg-black text-white text-center d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <p>Copyright &copy; 2022 Julian Riedinger</p>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-1">
                    <a href="https://api.whatsapp.com/send?phone=+5402914190015" target="ADD_BLANK">
                        <img src="../Imagenes-Iconos/wpicon.jpg" alt="Whatsapp" width="50" height="50">
                    </a>
                </li>
                <li class="ms-1">
                    <a href="https://www.instagram.com/julianriedinger/" target="ADD_BLANK">
                        <img src="../Imagenes-Iconos/igicon.jpg" alt="Instagram" width="50" height="50">
                    </a>
                </li>
                <li class="ms-1">
                    <a href="https://www.facebook.com/julian.riedinger.1/"  target="ADD_BLANK">
                        <img src="../Imagenes-Iconos/fbicon.jpg" alt="Facebook" width="50" height="50">
                    </a>
                </li>
                <li class="ms-1">
                    <a href="https://twitter.com/JuliRiedinger" target="ADD_BLANK">
                        <img src="../Imagenes-Iconos/twicon.jpg" alt="Twitter" width="50" height="50">
                    </a>
                </li>
                
                
            </ul>
        </div>
    </footer>
    <script src="../js/bootstrap.bundle.min.js" crossorigin="anonymous"></script></body>
</body>
</html>