<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RinconGamer</title>
    <!-- Archivo CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Icono de la pagina -->
    <link rel="shortcut icon" href="../Imagenes-Iconos/logoempresa.jpeg">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=PT+Mono&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Menu de Navegacion: -->
    <header class="grid-container">
        <div class="logo">
            <a href="../index.html">
                <img src="../Imagenes-Iconos/logoempresa.jpeg" alt="Logo Rincon gamer" class="logo__img">
            </a>
        </div>
        <nav>
            <ul>
                <li class="inicio"><a href="../index.html">Inicio</a></li>
                <li class="sobre__nosotros"><a href="./nosotros.html">Sobre Nosotros</a></li>
                <li class="nuestro__trabajo"><a href="#">Nuestro Trabajo</a></li>
                <li class="reviewsnav"><a href="./reviews.html">Reviews</a></li>
                <li class="contactonav"><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- Pagina Nuestro Trabajo -->
    <video src="../Imagenes-Iconos/videofondo.mp4" autoplay muted loop></video>
    <section class="section">
        <h1 class="section__titulo">Nuestros Trabajos</h1>
        <h2 class="section__subtitulo">Les presentamos algunos de nuestros trabajos preferidos</h2>
    </section>
    <div class="trabajos">
        <img src="../Imagenes-Iconos/trabajo1.jpg" class="trabajos__img" alt="Setup rojo">
        <img src="../Imagenes-Iconos/trabajo2.jpg" class="trabajos__img" alt="Setup negro" >
        <img src="../Imagenes-Iconos/trabajo3.jpg" class="trabajos__img" alt="Setup multicolor">
        <img src="../Imagenes-Iconos/trabajo4.jpg" class="trabajos__img" alt="Setup colorido">
        <img src="../Imagenes-Iconos/trabajo5.jpg" class="trabajos__img" alt="Setup violeta" >
        <img src="../Imagenes-Iconos/trabajo6.jpg" class="trabajos__img" alt="Setup rosa">
        <img src="../Imagenes-Iconos/trabajo7.jpg" class="trabajos__img" alt="Setup blanco y colorido">
        <img src="../Imagenes-Iconos/trabajo8.jpg" class="trabajos__img" alt="Setup solo blanco">
        <img src="../Imagenes-Iconos/trabajo9.jpg" class="trabajos__img trabajos__img-block" alt="Setup oficina gamer">
    </div>

    <!-- Pie de pagina -->
    <footer class="grid-container footer-mobile footer-medium">
        <p class="footer__autor">Hecho por Julian Riedinger</p>
        <p class="footer__copy">Copyright 2022</p>
        <div>
            <a href="https://api.whatsapp.com/send?phone=+5402914190015" class="footer__icon margen_izquierdo" target="ADD_BLANK">
                <img src="../Imagenes-Iconos/wpicon.jpg" class="footer__icon__img" alt="Whatsapp" >
            </a>
            <a href="https://www.instagram.com/julianriedinger/" class="footer__icon" target="ADD_BLANK">
                <img src="../Imagenes-Iconos/igicon.jpg" class="footer__icon__img" alt="Instagram" >
            </a>
            <a href="https://www.facebook.com/julian.riedinger.1/" class="footer__icon" target="ADD_BLANK">
                <img src="../Imagenes-Iconos/fbicon.jpg" class="footer__icon__img" alt="Facebook" >
            </a>
            <a href="https://twitter.com/JuliRiedinger" class="footer__icon" target="ADD_BLANK">
                <img src="../Imagenes-Iconos/twicon.jpg" class="footer__icon__img" alt="Twitter" >
            </a>
        </div>
    </footer>
</body>
</html>